{
  "identities": [
    {
      "name": "deplatform",
      "credentials": [
        {
          "accessKey": "deplatform",
          "secretKey": "__SEAWEEDFS_S3_SECRET_KEY__"
        }
      ],
      "actions": ["Admin", "Read", "Write", "List", "Tagging"]
    }
  ]
}
